#feed {
    background-color: #F0F5F7;
}

button {
    float: right;
    border-radius: 17px;
    background-color: #B3D9E6;
    border: 1px solid #B3D9E6;
}

#inputFeedForm {
    margin-top: 15px;
    padding-top: 15px;
    padding-bottom: 45px;
    background-color: #F0F5F7;
    border-radius: 5px;
}

p {
    font-size: 11px;
    margin-top: -5px;
}

#twitter {
    margin-top: -15px;
}